.nav {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.nav a {
  color: var(--color-white);
}

.nav span {
  cursor: pointer;
}

ul {
  margin: 3rem 0;
}

ul li {
  margin: 1rem 0;
}

.open {
  display: flex;
}

.close {
  display: none;
}
