.post-item {
  margin-bottom: 4rem;
  max-width: 90vw;
  @include respond(tab-port) {
    margin-bottom: 4rem;
    max-width: 60vw;
  }
}
.media {
  height: 280px;
  padding-top: "56.25%"; // 16:9
}
.postitem__heading {
  @include respond(tab-port) {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
  }
}
.post__link {
  color: var(--color-white);
}
.post__likes-counter {
  color: var(--color-accent);
}
