.dashboard {
  background-color: var(--color-background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-height));
  @include respond(tab-port) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.btn-group button {
  margin: 2rem 1rem;
}
.btn-group span.MuiIconButton-label {
  color: red;
}
