.main__auth {
  display: grid;
  grid-template-columns: 1fr;
  @include respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.auth__aside {
  display: none;
  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.auth__section {
  min-height: 100vh;
  background-color: var(--color-secondary);
}
.auth__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem 8rem;
  .heading {
    color: var(--color-white);
    padding: 0;
  }
}
.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 0rem;
  .text-field {
    width: 100%;
    color: var(--color-white);
  }
}
.auth__paragraph {
  color: var(--color-white);
  padding: 0rem 8rem;
  button {
    color: var(--color-primary);
  }
}
.buttons__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  justify-content: end;
  padding: 3rem 8rem 1rem 8rem;
}

.button__group {
  width: 300px;
}

.figure {
  padding: 3rem;
}

.figcaption {
  padding: 1rem 0;
}
