.home {
  display: flex;
  flex-direction: column;
  @include respond(tab-port) {
    height: 100vh;
    display: grid;
    grid-template-rows: 3fr 2fr;
  }
}
.goal-container {
  @include respond(tab-port) {
    grid-row: 1/2;
  }
}
.slider {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  @include respond(tab-port) {
    grid-row: 2/3;
  }
}
.slide {
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-light);
  word-break: break-word;
}

.slide:nth-child(1) {
  margin-left: 0;
}
