/* -------- SIMPLE RESET ------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", Helvetica, Arial, Verdana, Tahoma;
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
}

/* ------------------------------------- */

body {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  background-color: var(--color-background);
  color: var(--color-blue-dark);
}

nav {
  height: var(--nav-height);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-small);
  padding: var(--text-padding-regular);
  color: var(--color-black);
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-small);
  color: var(--color-black);
  padding: var(--text-padding-regular);
  text-transform: uppercase;
}

h4 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-small);
  color: var(--color-primary);
}
button,
p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-small);
  color: var(--color-black);
}

.nav,
.section {
  padding: var(--padding-large);
}

/* Grid -------------------------------- */

.page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-light);
  @include respond(tab-port) {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.nav {
  @include respond(tab-port) {
    grid-column: 1/2;
  }
}

.main {
  background-color: #f2f2f2;
  @include respond(tab-port) {
    grid-column: 2/3;
  }
}

.tags {
  display: flex;
}

.tag {
  margin: 0.2rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-grey);
  white-space: nowrap;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
