/* -------- SIMPLE RESET ------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Lato", Helvetica, Arial, Verdana, Tahoma;
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
}

/* ------------------------------------- */

body {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  color: var(--color-blue-dark);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-primary);
}

p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-primary);
}
