/* -------- SIMPLE RESET ------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: "Lato", Helvetica, Arial, Verdana, Tahoma;
}

button,
a:link,
a:visited,
a:hover,
a:active {
  cursor: pointer;
}

/* ------------------------------------- */

body {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  background-color: var(--color-background);
  color: var(--color-blue-dark);
}

nav {
  height: var(--nav-height);
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-black);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-primary);
  padding: var(--text-padding-regular);
}

h4 {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-black);
}
button,
p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-regular);
  letter-spacing: var(--letter-spacing-regular);
  color: var(--color-black);
}

.nav,
.section {
  padding: var(--padding-large);
}

/* Grid -------------------------------- */

.page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.nav {
  grid-column: 1/2;
}

.main {
  grid-column: 2/3;
}
