.edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
