.post__article {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  @include respond(tab-port) {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
}
.post__card {
  display: grid;
  max-width: 50vw;
  grid-template-columns: 2fr 3fr;
  padding: 3rem 4rem;
  background-color: #fefefe;
  @include respond(tab-port) {
    display: grid;
    max-width: 60vw;
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
  }
}

.post__form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  gap: 1rem;
}
.post__figure {
  display: grid;
  align-content: center;
}
