.member-card {
  display: flex;
  background-color: var(--color-white);
  border-radius: 2rem;
  margin: 2rem 0;
  @include respond(tab-port) {
    display: flex;
    align-items: flex-start;
  }
}

.avatar {
  max-width: 100px;
  margin: 2rem;
  border-radius: 50%;
}
