.member-card {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-white);
  border-radius: 2rem;
  margin: 2rem 0;
}

.tags {
  display: flex;
}

.tag {
  margin: 0.2rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  background-color: var(--color-light);
}
.avatar {
  max-width: 100px;
  margin: 2rem;
  border-radius: 50%;
}
