.create__profile-section {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  padding: 4rem;
}

.create__profile-card {
  min-width: 60vw;
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 3rem 4rem;
}

.create__profile-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
  gap: 1rem;
}

.create__profile-avatar {
  width: 100px;
  height: 100px;
  background-color: var(--color-primary);
  border-radius: 50%;
}
