.create__profile-section {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  @include respond(tab-port) {
    padding: 4rem;
    justify-content: center;
  }
}

.create__profile-card {
  min-width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 4rem;
  background-color: #fefefe;
  @include respond(tab-port) {
    grid-template-columns: 2fr 3fr;
    min-width: 60vw;
  }
}

.create__profile-form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem;
  gap: 2rem;
  @include respond(tab-port) {
    padding: 0 2rem;
  }
}

.create__profile-avatar {
  width: 100px;
  height: 100px;
  // background-color: var(--color-primary);
  // border-radius: 50%;
  margin-bottom: 2rem;
  @include respond(tab-port) {
    width: 150px;
    height: 150px;
    grid-template-columns: 2fr 3fr;
  }
}
