.profile__img {
  border-radius: 50%;
  max-height: 150px;
}
.icons__container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1.2rem;
}
.icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-secondary);
  :hover {
    fill: var(--color-primary);
  }
}
.section__profile {
  display: grid;
  grid-template-columns: 1fr 4fr;
<<<<<<< HEAD
  gap: 4rem;
  background-color: var(--color-background);
=======
>>>>>>> e093d33c2fdb575d8d2827a1b1739c8d593a138a
  padding: 3rem;
}
.status__container {
  display: grid;
  grid-template-columns: max-content max-content;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  .tags {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 0;
  }
}
